@font-face {
    font-family: 'cursed_timer_ulilregular';
    src: url('../fonts/cursedtimerulil-aznm-webfont.woff2') format('woff2'),
         url('../fonts/cursedtimerulil-aznm-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/****** GLOBAL *****************/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #D1D5DB;  
    padding: 0;
}

h1 {
    text-align: center;
    font-family: "Space Mono";
    text-decoration: underline;
}

h3 {
    color: white;
    font-size: 40px;
    font-family: 'Space Mono', sans-serif;
    margin-bottom: 0;
    font-weight: 700;
}

button {
    border-radius: 8px;
    background-color:rgba(0,0,0,0);
    color: white;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: black;
    opacity: 0.8;
    transform: scale(1.05);
}

/****** SCOREBOArD *****************/

.scoreboard-container {
    display: flex;
    flex-direction: column;
    width: 575px;
    height: 385px;
    margin: 0 auto;
    background: linear-gradient(to top, rgba(6, 78, 59, 0.6), rgba(6, 78, 59, 1));
    border-radius: 10px;
    /* border: 3px solid black; */
    outline: 3px solid black;
    outline-offset: -20px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.container {
    display: flex;
    justify-content: space-around;
}

.content-box {
    display: flex;
    text-align: center;
}

#home-count,
#guest-count {
    background-color: rgba(0,0,0,0.8);
    margin-top: 10px;
    outline: 3px solid black;
    color: #F94F6D;
    font-family: 'cursed_timer_ulilregular';
    font-size: 90px;
    padding-top: 20px;
    width: 170px;
    height: 120px;
    margin-bottom: 20px;
}

/****** INCREMENT BUTTONS *****************/
.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#home-plus-1,
#home-plus-2,
#home-plus-3,
#guest-plus-1,
#guest-plus-2,
#guest-plus-3 {
    width: 45px;
    height: 45px;
    font-family: 'cursed_timer_ulilregular';
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    border: 2px solid white;
}

/****** REPLAY BUTTON *****************/
.reset-container {
    display: flex;
    justify-content: center;
}

#reset-button {
    font-family: "Space Mono", sans-serif;
    padding: 3px 5px;
    border: 0;
}

